# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp

# Local and generated datasets
data/raw/*
data/external/*
data/processed/*

# Keep directory structure in Git
!data/raw/.gitkeep
!data/external/.gitkeep
!data/processed/.gitkeep